{%- for block in section.blocks -%}
{%- case block.type -%}
{%- when 'announcement' -%}
<div class="announcement-bar color-{{ block.settings.color_scheme }} gradient" role="region"
  aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
  {%- if block.settings.text != blank -%}
  {%- if block.settings.link != blank -%}
  <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
    {%- endif -%}
    <p class="announcement-bar__message h5">
      {{ block.settings.text | escape }}
      {%- if block.settings.link != blank -%}
      {% render 'icon-arrow' %}
      {%- endif -%}
    </p>
    {%- if block.settings.link != blank -%}
  </a>
  {%- endif -%}
  {%- endif -%}
</div>
{%- endcase -%}
{%- endfor -%}

{% schema %}
{
"name": "t:sections.announcement-bar.name",
"max_blocks": 12,
"blocks": [
{
"type": "announcement",
"name": "t:sections.announcement-bar.blocks.announcement.name",
"settings": [
{
"type": "text",
"id": "text",
"default": "Welcome to our store",
"label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
},
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "background-1",
"label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__1.label"
},
{
"value": "background-2",
"label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__2.label"
},
{
"value": "inverse",
"label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__3.label"
},
{
"value": "accent-1",
"label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__4.label"
},
{
"value": "accent-2",
"label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.options__5.label"
}
],
"default": "accent-1",
"label": "t:sections.announcement-bar.blocks.announcement.settings.color_scheme.label"
},
{
"type": "url",
"id": "link",
"label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
}
]
}
],
"default": {
"blocks": [
{
"type": "announcement"
}
]
}
}
{% endschema %}